body {
	padding-top: 0;
	background: #006D77;
}
.logo {
	padding: 0px 20px;
}
.pie, .pie a {
	background: #ccc;
	color: #555;
}
.cuerpo .container {
	background: #fff;
	padding: 10px 20px 60px 20px;
}
/* pasos */
.paso .lead {
	text-align: center;
	font-size: 28px;
	color: #00688B;
	padding-bottom: 10px;
	padding-top: 20px;
}
.paso h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.row-pregunta h2 {
	margin: 20px 0 30px;
}
.row-pregunta h2 small {
	margin-top: 10px;
}
.row.resumen h2 {
	margin: 7px 0 10px 0;
}
.row-opciones img {
	padding: 4px;
	border: 4px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
img.deseleccionada { 
	opacity: 0.8;
}
img.over { 
	opacity: 1;
	border-color: #00688B;
}
img.seleccionada {
	opacity: 1;
	border: 4px solid #00688B;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,104,139,0.7);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,104,139,0.7);
	box-shadow: 0px 0px 10px 3px rgba(0,104,139,0.7);
}
.row-opciones label { 
	margin-top: 7px;
	cursor: pointer;
	font-size: 21px;
}
.row-boton {
	padding-right: 20px;
}
.boton-paso { 
	margin-left: 20px;
}
.nobr {
	white-space: nowrap;
}
/* resumen de paso completado */
.row.resumen {
	padding: 5px 20px;
	border: 4px solid #ddd;
	margin: 20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.row.resumen a.btn {
	visibility: hidden;
}
.row.resumen.over a.btn {
	visibility: visible;
}
.row.resumen .label {
	font-size: 18px;
	position: relative;
	top: -2px;
	margin-left: 7px;
}
.row.resumen .label span.glyphicon {
	font-size: 14px;
}


/***** MODAL *****/
.modal-backdrop.fade.in {
	opacity: .8;
}
.modal-backdrop {
	background-color: #fff;
}
.modal-body {
	padding: 20px 30px;
}
.modal-header {
	border: 0;
	padding: 0;
	font-size: 30px;
	text-align: center;
	padding-bottom: 30px;
}
.modal-footer {
	border: 0;
	text-align: center;
	padding: 20px 0 10px 0;
}
.modal label {
	font-size: 20px;
}
.btn-xl {
	font-size: 25px;
}
.modal .row-comentario {
	padding-bottom: 20px;
}
.has-feedback .form-control-feedback {
	top: 30px;
}
.form-horizontal .has-feedback .form-control-feedback {
	top: 5px;
}
.modal .form-group .form-control-feedback, .modal .form-group .help-block {
	display: none;
}
.modal .form-group.has-success.has-feedback .form-control-feedback.success-feedback {
	display: block;
}
.modal .form-group.has-warning.has-feedback .form-control-feedback.warning-feedback,
.modal .form-group.has-warning.has-feedback .help-block.warning-feedback {
	display: block;
}
.modal .form-group.has-error.has-feedback .form-control-feedback.error-feedback,
.modal .form-group.has-error.has-feedback .help-block.error-feedback {
	display: block;
}

.seleccionar-opcion {
	font-size: 18px !important;
	width: 100%;
	text-align: center;
	height: 40px;
}

.gracias-table {
	background: #CCC none repeat scroll 0% 0%; 
	width: 80%; 
	border: 0px solid #000; 
	box-shadow: 5px 5px 10px #888; 
	text-align: center;
	font-family: "Open Sans",Arial,sans-serif;
	font-weight: 700;
	font-style: normal;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.gracias-table td {
	padding: 10px;
}

.consulta-datos-personales {
	background: #006D77 none repeat scroll 0% 0%; 
	width: 100%; 
	border: 0px solid #000; 
	box-shadow: 5px 5px 10px #888; 
	text-align: left;
	font-family: "Open Sans",Arial,sans-serif;
	font-weight: 700;
	font-style: normal;		
	margin-top: 30px;
	color: white;
	height: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.consulta-datos-personales td {
	padding: 10px;
}

.consulta-datos-personales .input-lg {
	height: 30px;
	padding: 0px 16px;
	font-size: 16px;
}

.consulta-datos-personales .input-textarea {
	height: 160px !important;
	padding: 5px 16px;
	font-size: 14px;
}